@font-face {
    font-family: Norse-Bold;
    src: url(fonts/Norse-Bold.otf);
}

@font-face {
    font-family: NotoSans;
    src: url(fonts/NotoSans-VariableFont_wdth\,wght.ttf);
}

body {
    margin: 0;
    padding: 0;
    font-family: NotoSans;
}

a {
    all: unset;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    background-image: url("images/zetong-li-4qQolDX6eSw-unsplash.jpg");
    background-size: 500px;
    background-repeat: no-repeat;
    width: 500px;
    background-position: left;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    padding: 15px 0px;
    margin: 160px 0px auto;
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    width: inherit;
    font-family: Norse-Bold, sans-serif;
    font-size: 100px;
}

.footer {
    color: white;
    font-size: 12px;
}

.content {
    display: flex;
    flex-direction: column;
    background-color: rgb(241, 241, 241);
}

.content > div {
    padding: 0 60px;
}

.hero {
    margin: 100px 0 0;
    font-size: 20px;
    font-weight: 500;
}

.signup {
    background-color: white;
}

input {
    appearance: none;
}